* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Playfair Display', serif;

}
body {
    margin:0 auto;
    background:linear-gradient(#000, #AA14F0);
    color:#f2f2f2;
    
}
/*purple AA14F0*/
header {
    color:#f2f2f2;
    display:inline;
    justify-content:space-between;
    align-items:end;
    margin:0 auto;
    border-bottom:#AA14F0 3px solid;

}
header h2 {
    text-shadow:3px 2px 4px #AA14F0;
    font-size:35px;
    margin:25px auto 25px;
    letter-spacing:.25em;
    padding:25px;

}

.dropdown div {
    display:inline;
}
.dropdown ul{
    display:none;
    color:#f2f2f2;
    background-color:#AA14F0;
}
ul{
    display:flex;
    justify-content:space-evenly;
    margin:0 auto;
}

li {
    list-style: none;
    font-weight:400;
    font-size:22px;
    margin-bottom:25px;
    letter-spacing:.10em;
    text-shadow:2px 2px 8px #AA14F0;
}

a {
    text-decoration:none;
}
a:visited {
    color:#f2f2f2;
}



h1 {
    font-weight:700;
    text-align:center;
    margin:25px 0;
    text-shadow: 2px 2px 4px #AA14F0;
    letter-spacing:.25em;
    border-bottom:4px solid #AA14F0;
} 

.heading {

}
.maincontainer {
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}
.gallery {
    width:100%;
    display:flex;
    flex-direction:column;
}


.gallerybox {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:24px;
    flex-wrap:wrap-reverse;
    margin:25px 0;
    letter-spacing:.25em;
    text-shadow:3px 3px 2px #AA14F0, 4px 4px 5px #000;
}
.gallerybox img {
    width:80%;
}

.gallerybox h3 {
    padding:20px;
}

.reverserow {
    display:flex;
    flex-direction:row-reverse;
}

footer {
    text-align:center;
}