* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Playfair Display', serif;

}
/*purple AA14F0*/
header {
    background-color:#000;
    color:#f2f2f2;
    display:flex;
    padding:1em;
    justify-content:space-around;
    align-items:end;

}
header h2 {
    text-shadow:2px 2px 1px #AA14F0;
}

ul{
    display:flex;
    gap:15px;
}

li {
    list-style: none;
    font-weight:700;
}

a {
    text-decoration:none;
}
a:visited {
    color:#f2f2f2;
}

body {
    background:linear-gradient(#000, #AA14F0);
    color:#f2f2f2;
    min-width:500px;
}

h1 {
    margin:1em;
    font-weight:700;
    font-size:3em;
    letter-spacing: .25em;
    
} 

.heading {
    width:100%;
    height:fit-content;

}
.maincontainer {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    background: linear-gradient(#000, #AA14F0);
    width:100%;
}


img {
    width:300px;
    height:auto;
}

h3 {
    font-size:24px;
    letter-spacing: .25em;
}

.landscapes {
    display:flex;
    justify-content:center;
    align-items:center;
}

.seascapes {
    display:flex;
    flex-direction:row-reverse;
    justify-content:center;
    align-items:center;
}

.autumn {
    display:flex;
    justify-content:center;
    align-items:center;
}

.winter {
    display:flex;
    flex-direction: row-reverse;
    justify-content:center;
    align-items:center;
}

.black-white {
    display:flex;
    justify-content:center;
    align-items:center;
}